body {
  padding: 0;
  margin: 0;
  margin-top: 41px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px; top: 0px;
  -webkit-font-smoothing: antialiased;
  overflow-y: hidden;
   background-color: white;
}
.animeScreen{
  display: none;
}

.toSend {
   padding:10px;
   
    border-radius: 10px; 
  -moz-border-radius: 10px;

}

.nav-list  .active a{
  background-color: #2E2E2E;
} 

.hero-unit{
  padding: 5px;
  padding-left: 20px;
}
.icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.iconplus {
  
  height:200px;
  line-height:200px;
    /*text-align: center;*/
    font-size: 250px;
    color: #2E2E2E;

}

.confplus{
  background-color:#696969 ;
  opacity: 0.30;
}
.Sent {
   padding:10px;

  
    border-radius: 10px; 
  -moz-border-radius: 10px;

}

.slide {
  color: white;
  display: block;
  overflow: hidden;
  padding:2px;
    border-radius: 2px; 
  -moz-border-radius: 2px;
  -webkit-transition-property: margin, -webkit-transform, opacity;
  -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
  -webkit-transition-timing-function: ease-in-out;

  -moz-transition-property: margin, -moz-transform, opacity;
  -moz-transition-duration: 0.5s, 0.5s, 0.5s;
  -moz-transition-timing-function: ease-in-out;

  -o-transition-property: margin, -moz-transform, opacity;
  -o-transition-duration: 0.5s, 0.5s, 0.5s;
  -o-transition-timing-function: ease-in-out;

}

.btgroup{
  margin-bottom: 30%;
  color: white;
  display: block;
  overflow: hidden;
  padding:2px;
    border-radius: 2px; 
}
.brand {
    color: #777777;
    display: block;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 10px 20px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.item {
  float: left;
  width: 95%;
  padding:5px;
  background-color: #2E2E2E;

}

.container-fluid{
  height: 0;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;

}
.application{
  height: 100%
}

.container-fluid > .row-fluid{
  height:100%;
}


.slider{
  background-color: white;
  border-right: 2px solid #DDDDDD;
}


.scroll{
  overflow-y:auto;
  min-height: 100%;
  height: auto;
  height: 100%;
  
}
.creater{

  padding: 5px;
  background-color: white;
  min-height: 100%;
  height: 100%;

}

.navbar .apptitle{
  float: right;
}
.navbar {
    margin-bottom: 0px;
}
.tabbable{
  height: 75%;

}

.creater-bts{
  padding: 8px;
  bottom: 0;
  position: fixed;
  right: 0;
}

.creater {

      margin-left: 0px;
      width: 34%;

}
.tab-content{
  margin-left: 10px;
    border-bottom: 1px solid #DDDDDD;
    
}
i{
  float: right;
}
#rembt i{
  float: left;
}

#rembt{
  text-align: center;
}
#sendbt{
  text-align: center;
}