body {
  color:white;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px; top: 0px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden
}

ul {
  list-style: none outside none;
}


.organisation{
    cursor:pointer;
    border-top: 1px solid #DDDDDD; 
    line-height: 30px;
    opacity: 1.00;

}
.onshow{
margin-left:0px; 
}

.onhideright{
  overflow: hidden;
  margin-left: 2400px;
}

#appcontainer{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow-x: hidden;
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(black));
  background: -moz-linear-gradient(top, #333, black);
}



.onhideleft{
  overflow: hidden;
  margin-left: -2400px;
}
.modal-body {
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(black));
  background: -moz-linear-gradient(top, #333, black);
}
.organisationsList a:hover {
  color: white;
  text-decoration:none;
  font-size: 28px;
  opacity: 1.00;
}
.organisationsList h3 {

  width: 100%;

}
.organisationsList a {
  color:white; 
  text-decoration: none;
  opacity: 0.50;
  font-size: 20px;
  width: 100%;
  -webkit-transition-property:opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;

  -moz-transition-property: opacity;
  -moz-transition-duration:  0.2s;
  -moz-transition-timing-function: ease-in-out;

  -o-transition-property: opacity;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease-in-out;
}


.organisationsBlock {
  position: absolute;
  visibility: visible;
  display: block;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
  padding: 20px ;
  margin-top: 50px;

  -webkit-transition-property: margin, -webkit-transform, opacity;
  -webkit-transition-duration: 0.5s, 3s, 3s;
  -webkit-transition-timing-function: ease-in-out;

  -moz-transition-property: margin, -moz-transform, opacity;
  -moz-transition-duration: 0.5s, 3s, 3s;
  -moz-transition-timing-function: ease-in-out;

  -o-transition-property: margin, -moz-transform, opacity;
  -o-transition-duration: 0.5s, 3s, 3s;
  -o-transition-timing-function: ease-in-out;
 
}
.confBlock{
  overflow: hidden;
  visibility: visible;
  display: block;
  position: absolute;
  margin-top: 50px;
  -webkit-transition-property: margin, -webkit-transform, opacity;
  -webkit-transition-duration: 0.5s, 3s, 3s;
  -webkit-transition-timing-function: ease-in-out;

  -moz-transition-property: margin, -moz-transform, opacity;
  -moz-transition-duration: 0.5s, 3s, 3s;
  -moz-transition-timing-function: ease-in-out;

  -o-transition-property: margin, -moz-transform, opacity;
  -o-transition-duration: 0.5s, 3s, 3s;
  -o-transition-timing-function: ease-in-out;
}
.span4{
  padding:8px;
  background: rgba(0, 0, 0, 0.3);
    border-radius: 8px; 
  -moz-border-radius: 8px;
}
.organisation h3{
  text-align: left;
}
.organisation i{
  float: right;
}
.navbar .brand{
  float: right;
}
.connect{
  /*float: right;*/
}
#header{
  position: fixed;
  height: 100%;
  width: 100%;
}
./*content{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(black));
  background: -moz-linear-gradient(top, #333, black);
}
*/
.conference {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(black));
  background: -moz-linear-gradient(top, #333, black);
}
.conf {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  width: 320px;
  height: 240px;
  float: left;
  margin: 30px;
}
#header .container{
  width: 1170px;
}
.container{
  width: 1170px;
}


.slides {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 50px;
  /*position: absolute;*/
  -webkit-transition: -webkit-transform 1.5s ease-in-out;
  -moz-transition: -moz-transform 1.5s ease-in-out;
  -o-transition: -o-transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out;
}

.left.carousel-control{
  margin-left: 100px;
}

.right.carousel-control{
  margin-right: 70px;
}

.slide {
  color: black;
  display: block;
  position: absolute;
  overflow: hidden;
  padding:20px;
  width: 900px;
  height: 500px;
  left: 50%;
  background-color: #EAEAED;
  border-radius: 10px; 
  -moz-border-radius: 10px;
  opacity: 0.40;

  -webkit-transform: scale(0.8) translateZ(0);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);

  -webkit-transition-property: margin, -webkit-transform, opacity;
  -webkit-transition-duration: 1s, 1s, 2s;
  -webkit-transition-timing-function: ease-in-out;

  -moz-transition-property: margin, -moz-transform, opacity;
  -moz-transition-duration: 1s, 1s, 2s;
  -moz-transition-timing-function: ease-in-out;

  -o-transition-property: margin, -moz-transform, opacity;
  -o-transition-duration: 1s, 1s, 2s;
  -o-transition-timing-function: ease-in-out;
}

.slide.far-past {
  display: block;
  margin-left: -2400px;
}

.slide.past {
  visibility: visible;
  display: block;
  margin-left: -1400px;
}

.slide.current {
  visibility: visible;
  display: block;
  margin-left: -450px;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  opacity: 1.0;
}

.slide.future {
  visibility: visible;
  display: block;
  margin-left: 500px;
}

.slide.far-future {
  display: block;
  margin-left: 1500px;
}
